  .br {
    border-radius: 8px;  
  }
  .w480 {
      width: 480px;
  }
  .w320 {
      width: 320px;
  }
  .w240 {
      width: 240px;
  }
  .card {
    border: 2px solid #fff;
    box-shadow:0px 0px 10px 0 #a9a9a9;
    padding: 30px 40px;
    width: 80%;
    margin: 50px auto;
  }
  .comment {
    height: 12px;
    background: #777;
    margin-top: 2px;
  }
   ul.loading-wrapper, ul.bookshelf {
      margin: 0px;
  }
  
  
  @keyframes fullView {
    100% {
      width: 100%;
    }
  }
  
  .animate {
     animation : shimmer 2s infinite linear;
     background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
      background-size: 1000px 100%;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }